body {
    background-image: url(../images/cover/2.jpg);
    background-size: cover;
    background-position: center;
}

.models-row {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center; 
    gap: 15px;
}

.models-back {
   position: absolute;
   top: 9%;
   left: 2%;
   color: #33ff00;
   border: none;
   border-radius: 100px;
   background: linear-gradient(#ffd000, #f80101);
   padding: 10px 30px;
   text-decoration: none;
}

.models-text {
    text-align: center;
}

.models-title {
    font-size: 55px;
    font-weight: 900;
    background: linear-gradient(#ffd000, #f80101);
    background-clip: text;
    color: transparent;
}

.models {
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
}

.model {
    width: 100%;
    height: 300px;
    position: relative;
}

.model-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #888888;
}

.model-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    opacity: .8;
    transition: all .2s;
}

.model-img img:hover {
    transform: scale(1);
    opacity: 1;
}

.model-info {
    position: absolute;
    top: 1%;
    left: 0;
    padding: 0 12px;
    color: #fffb00;
}

.model-name {
    font-size: 25px;
    font-weight: 700;
}

.model-price {
    font-size: 25px;
    font-weight: 400;
    margin-top: 5px;
}

.model-footer {
    position: absolute;
    bottom: 5%;
    left: 2%; 
}

.btn-model {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.4;
    transition: all .2s;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(#ff0000, .8);
}

.btn-model i {
    margin-right: 10px;
}

.btn-model-white {
    color: #08fc00;
    padding: 18px 28px;
    background: transparent;
    border: 1px solid #08fc00;
    cursor: pointer;
}

.btn-model-white:hover {
    color: #ff0000;
    border-color: #ff0000;
}

.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    z-index: 2500;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(#000, .7);
    transition: all .3s .1s;
    padding: 21px;
}

.popup-close {
    font-size: 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
}

.popup-title {
    font-size: 25px;
    font-weight: 900;
    background: linear-gradient(#ffd000, #f80101);
    background-clip: text;
    color: transparent;
}

.popup-text {
    font-size: 25px;
    margin-bottom: 30px;
}

.popup-buy {
    display: inline-block;
}

.popup-button {
    color: #000000;
    background-color: #08fc00;
    padding: 30px 60px;
    border: 3px solid #fcb000;
    cursor: pointer;
}

.popup-button:hover {
    color: #000000;
    background-color: #f46868;
    border: 3px solid #4000ff;
}

.show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1200px) {
    .models-title {
        font-size: 36px;
    }

    .models-row {
        grid-template-columns: repeat(2, 38%);
        gap: 0;
    }

    .model-name {
        font-size: 32px;
    }

    .model-price {
        font-size: 18px;
    }

    .popup-content {
        height: 50%;
        width: 70%;
    }
}

@media (max-width: 720px) {
    .models-row {
        grid-template-columns: 80%;
    }

    .popup-text {
        font-size: 20px;
    }    
}
