body {
    background-image: url(../images/cover/1.jpg);
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f7ca02;
}

.logo {
    text-decoration: none;
    font-size: 50px;
    font-weight: 500;
    color: #790488;
}

.nav-menu {
    color: #c600f3;
    font-size: 50px;
    cursor: pointer;
    position: relative;
}

.nav {
    display: none;
}

.active .nav {
    display: block;
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 10;
    transition: 0.5s ease-in-out;
    width: 220px;
    background-color: #ffea00;
    border-radius: 0% 10%;
    padding: 15px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}

.nav-link {
    text-decoration: none;
    color: #6823de;
}

.nav-link:hover {
    color: #ff0084;
}

.slides-container {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slides-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
    position: relative;
}

.slide-image {
    padding: 200px;
    max-width: 100%;
    max-height: 100%;
}

.slide-text {
    position: absolute;
    top: 0%;
    left: 1%;
    padding: 1 1rem;
    background-color: rgba(#ff0000, 0.8);
}

.slide-text p {
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(#ffd000, #f80101);
    background-clip: text;
    color: transparent;
}

.slide-icons {
    position: absolute;
    top: 15%;
    left: 5%;
    background-color: rgba(#ff0000, 0.8);
    padding: 0 1rem;
}

.slide-icons span {
    font-size: 30px;
    margin-right: 1.3rem;
    background: linear-gradient(#ffd000, #f80101);
    background-clip: text;
    color: transparent;
}

.slides-button {
    font-size: 30px;
    color: #33ff00;
    text-align: center;
    margin: 0 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    opacity: 50%;
    background: linear-gradient(#ffd000, #f80101);
}

.slides-button:hover {
    opacity: 100%;
    cursor: pointer;
}

.button-container-small {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.slides-button-small {
    display: none;
}

.slides-button-small:hover {
    opacity: 100%;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .slide-text p {
        font-size: 42px;
    }

    .slide-icons {
        top: 85%;
    }
}

@media (max-width: 700px) {
    .button-container {
        margin-bottom: 0px;
    }

    .slides-button {
        display: none;
    }

    .slides-button-small {
        display: block;
        color: #ff0000;
        text-align: center;
        margin: 0 25px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: none;
        opacity: 50%;
        background: linear-gradient(#066eca, #868484);
    }

    .slides-container {
        width: 100%;
    }

    .slide-text p {
        font-size: 40px;
    }

    .slide-icons {
        top: 78%;
    }

    .slide-icons span {
        font-size: 15px;
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .slide-text {
        top: -5%;
    }

    .slide-text {
        top: -5%;
    }
    
    .slide-text p {
        font-size: 30px;
    }
}
